<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-2"><i class="fa-solid fa-pen p-1"></i> Edit Contact page

            </h1>
            <p style="text-align:justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, libero. Facilis
                sequi ullam veniam numquam,
                soluta modi corporis repudiandae, illo vel rem quis ab ducimus? Necessitatibus eveniet omnis laboriosam
                adipisci.lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea similique recusandae
                provident molestiae ab nam labore possimus quo nulla aperiam! Quo facere ratione incidunt tempore fugit
                voluptatem natus temporibus nemo!</p>
        </div>
    </div>
    {{contact|json}}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form>
                    <div class="mb-2">
                        <input name="contactname" [(ngModel)]="contact.name" type="text" placeholder="Name" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="photo" [(ngModel)]="contact.photo" type="text" placeholder="photo URL" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="email" [(ngModel)]="contact.email" type="text" placeholder="Email ID" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="mobile" [(ngModel)]="contact.mobile" type="text" placeholder="mobile number" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="company" [(ngModel)]="contact.company" type="text" placeholder="company Name" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="Title" [(ngModel)]="contact.title" type="text" placeholder="Title" class="form-control">
                    </div>
                    <div class="mb-2">
                        <select name="groupId" [(ngModel)]="contact.groupId" id="" class="form-control">
                            <option value="" selected hidden disabled>select A group</option>
                            <option value="groupId" *ngFor="let group of groups">{{group.name}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <img [src]="contact.photo"
                    alt="no img" class="contactimg1 ms-5 mb-5">
                <div class="ms-5">
                <input (click)="updateContact()" type="button" value="Update" placeholder="Create" class="btn btn-success">
                <a routerLink="/" class="btn btn-danger ms-5">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
